<div class="container" style="position:relative;top:100px; max-width: 700px;">
  <div class="row form-position">

    <form (ngSubmit)="onRegisterSubmit(cliente)" class="col-md-6">
      <div class="form-group">
        <label for="nome">Nome: </label>
        <input type="text" class="form-control" id="nome" aria-describedby="emailHelp" placeholder="Nome" value="{{cliente.nome}}">
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" class="form-control" id="email" placeholder="Email" value="{{cliente.email}}">
      </div>
      <div style="position:relative; left:35%;">
        <button type="submit" class="btn btn-primary" (onclick)="enviar()" style="border:2px">Submit</button>
        <button type="reset" class="btn btn-danger" (onclick)="enviar()" style="border:2px">Limpar</button>
      </div>
    </form>
  </div>
</div>
