<div class="container">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <th scope="row">{{cliente.id}}</th>
          <td> {{cliente.nome}} </td>
          <td><button class="btn btn-warning" (click)="editar()" style="color:aliceblue; background-color:orange"> Editar </button></td>
          <td><button class="btn btn-danger" (click)="excluir()"> Excluir</button></td>
        </tr>
        
      </tbody>
    </table>
    </div>
  </div>